#wrapper{
    width: 63.4375%;
    margin: 0 auto;
    
}
.card{
    
    background-color: #F9F9F9;
    color: #a5a5a5;
    border: none;
}
#wrapper h1{
    color:#a5a5a5;
    font-weight: bold;
}
.card button{
    border-radius: 15px;
    width: fit-content;

}