/* Deze import haalt fonts van Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mochiy+Pop+P+One&family=Orbitron:wght@400..900&display=swap");

main {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Stijlen voor de hero sectie */
#hero {
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#hero h2 {
  font-size: 180px;
  text-align: end;
}

#hero h1 {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 230px;
  text-align: end;
}

#hero .img {
  position: absolute;
  top: 30rem;
  left: 45rem;
}

/* Stijlen voor Bootstrap rijen */
.row {
  --bs-gutter-x: 1.5rem;
}

/* Stijlen voor de about sectie */
#about {
  width: 100%;
  height: 80vh;
  text-align: center;
  background-color: #2a2a2a;
  color: white !important;
  padding-top: 15rem;
}

#about p {
  font-weight: 400;
  font-size: 80px;
}

/* Stijlen voor de online games sectie */
#onlineGames {
  width: 100%;
  background-color: #2a2a2a;
}

.game {
  height: 100vh;
}

.game .imageHolder {
  float: left !important;
  width: 50%;
  text-align: center;
  padding-top: 10rem;
}

.game .description {
  width: 48%;
  height: 100vh;
  float: right !important;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5rem;
}

.description h2 {
  font-size: 80px;
}

.description p {
  padding-top: 3rem;
  font-size: 40px;
  font-weight: 300;
}

.description a {
  text-decoration: none;
}

/* Stijlen voor de live rooms sectie */
#liverooms {
  width: 100%;
  height: 150vh;
  background-color: #d9d9d9;
}

#liverooms h2 {
  font-size: 50px;
  padding-top: 1rem;
  text-align: center !important;
}

/* Externe CSS: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #d9d9d9;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

.carousel-cell:before {
  display: block;
  content: "";
}

#liverooms p {
  padding: 5rem;
  font-size: 30px;
  text-align: center !important;
}

#liverooms .learnMore {
  padding: 2rem 5rem;
  font-size: 30px;
  text-align: center !important;
  text-decoration: none;
  color: white !important;
  background-color: #2a2a2a;
  margin-left: 41%;
}

@media (max-width: 767px) {
  /* styles for mobile phones */
  #hero {
    height: 60vh;
  }
  #hero h2 {
    font-size: 50px;
    text-align: center !important;
  }
  #hero .img {
    display: none;
  }
  #hero h1 {
    font-size: 90px;
    text-align: center !important;
  }

  #about p {
    font-size: 30px;
  }
  #onlineGames {
    height: auto;
    margin-bottom: 5rem;
    clear: both !important;
  }

  #onlineGames .imageHolder {
    float: none;
    width: 100%;
    padding-top: 0;
  }
  #onlineGames .description {
    float: none;
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .description h2 {
    font-size: 40px;
  }
  .description p {
    font-size: 20px;
  }
  .game {
    height: auto;
    clear: both;
  }
  #liverooms {
    clear: both;
    height: 150vh;
  }
  #liverooms h2 {
    font-size: 40px;
  }
  #liverooms p {
    font-size: 20px;
  }
  #liverooms .learnMore {
    padding: 15px 30px;
    font-size: 20px;
    margin-left: 29%;
    clear: both;
  }
  .carousel-cell {
    width: 100%;
    height: 300px;
  }
  .nav-links {
    flex-direction: column;
  }

  footer {
    padding-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* styles for tablet devices */
  #hero {
    height: auto;
    padding-bottom: 5rem;
  }
  #hero h2 {
    font-size: 70px;
    text-align: center !important;
  }
  #hero .img {
    display: none;
  }
  #hero h1 {
    font-size: 110px;
    text-align: center !important;
  }
  #about {
    height: auto;
  }

  #about p {
    font-size: 30px;
    padding-bottom: 200px;
  }

  #onlineGames {
    height: auto;
    clear: both !important;
  }

  #onlineGames .imageHolder {
    float: none;
    width: 100%;
    padding-top: 0;
    clear: both;
  }
  #onlineGames .description {
    float: none !important;
    clear: both;
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .description h2 {
    font-size: 40px;
  }
  .description p {
    font-size: 20px;
  }
  .game {
    height: auto;
    clear: both;
  }

  .game .imageholder {
    float: none;
    clear: both;
  }

  #liverooms {
    clear: both;
  }
  #liverooms h2 {
    font-size: 40px;
  }
  #liverooms p {
    font-size: 30px;
  }
  #liverooms .learnMore {
    padding: 15px 30px;
    font-size: 20px;
    margin-left: 35%;
    clear: both;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  /* styles for devices between tablet and desktop */
  #hero {
    height: auto;
    padding-bottom: 5rem;
  }
  #hero h2 {
    font-size: 70px;
    text-align: center !important;
  }
  #hero .img {
    display: none;
  }
  #hero h1 {
    font-size: 110px;
    text-align: center !important;
  }
  #about {
    height: 60vh;
  }

  #about p {
    font-size: 30px;
    padding-bottom: 200px;
  }

  #onlineGames {
    height: auto;
    clear: both !important;
  }

  #onlineGames .imageHolder {
    float: none;
    width: 100%;
    padding-top: 0;
    clear: both;
  }
  #onlineGames .description {
    float: none !important;
    clear: both;
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .description h2 {
    font-size: 40px;
  }
  .description p {
    font-size: 20px;
  }
  .game {
    height: auto;
    clear: both;
  }

  .game .imageholder {
    float: none;
    clear: both;
  }

  #liverooms {
    clear: both;
  }
  #liverooms h2 {
    font-size: 40px;
  }
  #liverooms p {
    font-size: 30px;
  }
  #liverooms .learnMore {
    padding: 15px 30px;
    font-size: 20px;
    margin-left: 35%;
    clear: both;
  }
}

@media (min-width: 1199px) and (max-width: 1919px) {
  /* styles for devices between different types of desktops */
  #hero {
    height: 80vh;
  }

  #hero .img {
    top: 40%;
    left: 30%;
  }

  #hero h2 {
    font-size: 100px;
  }
  #hero h1 {
    font-size: 200px;
  }
  #about p {
    font-size: 50px;
  }
  .description p {
    font-size: 30px;
  }
}
