body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #eeeeee;
  width: auto;
  padding-left: 5px;
  padding-right: 15px;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.nav-link:hover {
  color: #00000ec4;
  font-weight: 500;
}

.logoImages {
  padding-right: 15px;
}

.loginBtnDesktop a {
  color: #eeeeee;
  font-size: 22px;
}

.btnLogin {
  border-radius: 15px;
}

.uil {
  font-size: 25px;
  padding-right: 10px;
}

.openingsHours {
  margin-left: 100px;
}

.locations {
  margin-left: 150px;
  margin-right: 150px;
}

.socials {
  position: absolute;
  right: 5px;
  width: 50px;
  height: 130px;
  background-color: black;
  align-items: center;
  padding-left: 10px;
  color: white;
  border-radius: 5px;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #232222;
  color: white;
}

footer {
  background-color: #eeeeee;
  height: max-content;
  padding-top: 40px;
}

.navbar-menu-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
}

.navbar-toggler {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
    color: white;
  }
  .navbar-mobile .nav-link {
    color: white;
  }
  .nav-links {
    display: none;
  }
  .loginBtnDesktop {
    display: none;
  }
  .btn-login-mobile-menu {
    display: flex;
    justify-content: center;
  }
  .btnLogin-mobile {
    border-radius: 15px;
    background-color: white;
  }
  .loginBtn-mobile {
    color: black;
    font-size: 22px;
  }
}
