body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #eeeeee;
  width: auto;
  padding-left: 5px;
  padding-right: 15px;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.nav-link:hover {
  color: #00000ec4;
  font-weight: 500;
}

.logoImages {
  padding-right: 15px;
}

.loginBtnDesktop a {
  color: #eeeeee;
  font-size: 22px;
}

.btnLogin {
  border-radius: 15px;
}

.uil {
  font-size: 25px;
  padding-right: 10px;
}

.openingsHours {
  margin-left: 100px;
}

.locations {
  margin-left: 150px;
  margin-right: 150px;
}

.socials {
  position: absolute;
  right: 2px;
  width: 50px;
  height: 130px;
  background-color: black;
  align-items: center;
  padding-left: 10px;
  color: white;
  border-radius: 5px;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #232222;
  color: white;
}

footer {
  background-color: #eeeeee;
  height: max-content;
  padding-top: 40px;
}

.navbar-menu-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
}

.navbar-toggler {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .navbar-mobile .uil {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 32vw;
  }
  .navbar-mobile .nav-link {
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .nav-links {
    display: none;
  }
  .loginBtnDesktop {
    display: none;
  }
  .btn-login-mobile-menu {
    display: flex;
    justify-content: center;
  }
  .btnLogin-mobile {
    border-radius: 15px;
    background-color: white;
  }
  .loginBtn-mobile {
    color: black;
    font-size: 22px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  .logo-footer {
    margin-left: 10%;
  }
  .openingsHours {
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
  }

  .row {
    --bs-gutter-x: 0;
  }
}

@media only screen and (max-width: 768px) {
  .openingsHours {
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
  }

  .logo-footer {
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 17%;
  }
}

@media only screen and (max-width: 865px) {
  .justify-content-md-between {
    justify-content: center !important;
  }
}

@media only screen and (min-width: 866px) {
  .justify-content-md-between {
    justify-content: none;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 15%;
  }
}
